{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="mt-5 mb-3 text-center">Please sign in</h1>
        <div class="mb-5 text-center text-muted">Vos pins vous attendent !</div>
        <form method="post">
            {% if error %}
                <div class="alert alert-error" role='alert'>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="_remember_me" id="remember_me">
                        <label for="remember_me" class="form-check-label">Se Souvenir de moi</label>
                    </div>

                    <a href="#" class=".text-primary">Mot de passe oublié</a>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn-block btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </form>

        <p class="mt-5 mb-3 text-center text-muted">Pas encore de compte? <a href="#">Créez-en un !</a></p>
    </div>
</div>

{% endblock %}
