{% extends 'base.html.twig' %}

{% block main %}
	<h1>Create Pin</h1>

	{# <form method="POST">
		<input type="hidden" name="_token" value="{{csrf_token('pins_create')}}">
		<label for='title'>Titre :</label><br>
		<input type="text" id="title" name="title"><br>
		<label for="description">Description :</label><br>
		<textarea id="description" name="description" rows="5" cols="60"></textarea><br>

		<input type="submit" name="Create">

	</form> #}

	{{ include('pins/_form.html.twig')}}

{% endblock %}