<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<header><a href="{{url('app_home')}}">Accueil</a></header>
        {% block main %}hello{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>&copy; Copyright {{ 'now'|date('Y')}} by <a href="https://www.larrun-prod.com">Larrun-Prod</a> &middot; </footer>
    </body>
</html>
