<footer class="container text-center mt-5">
	<p class="text-muted">
		<small>
	&copy; Copyright {{ 'now'|date('Y')}} by <a href="https://www.larrun-prod.com">Larrun-Prod</a> &middot; </footer>
		</small>
	</p>